<!---h1 style="color:#32BEEA">Verification Email</h1--->

<h2 style="color:#32BEEA">Dear {{first_name}} {{last_name}}!</h2>


<div style="height: 200px; width: 400px; text-align: center; background-color: #DEF0F6; font-size: 16px; margin-top: 30px">
    <p style="padding-top: 25px">You have been invited to the<br /><b>"Project"</b><br />project as a test user.
    </p>

    <p>Your username is <b>{{username}}</b></p>

    <p>Please accept it at the following link:</p>

    <a href="{{url}}" style="font-size: 20px; color: white; background-color: #18B922; border-style: solid; border-width: 10px; border-color: #18B922; text-decoration: none">Verification link</a>
</div>