{% extends 'appbuilder/baselayout.html' %}
{% import 'appbuilder/baselib.html' as baselib with context %}


{% block head_css %}
    {{ super() }}
    <!--<link href="{{url_for('static',filename='templates/custom.css')}}" rel="stylesheet">-->
    <!--<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">-->
{% endblock %}

{% block head_js %}
    {{ super() }}
    <!--<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>-->
    <!--<script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>-->
    <!--<script src="../static/bower_components/jquery/dist/jquery.min.js"></script>-->

    <script>

//        function check(id) {
//            var element = document.getElementById(id);
//            var radio = document.getElementById("ra"+id);
//            if(element.checked){
//                    radio.style.display = "block";
//            }else{
//                    radio.style.display = "none";
//            }
//        }


//        function checkRadio(id, field_id) {
//            var element = document.getElementById(id);
//            var radiotext = document.getElementById(field_id+"-othertext");
//            if(element.checked && id === field_id+"-other"){
//                    radiotext.style.display = "block";
//            }else{
//                    radiotext.style.display = "none";
//            }
//        }

//                '<input type="text" name="mytext[]"/><a href="#" class="delete">Delete</a>' +

//        $('.add_form_field').click(
        function addFormField(fname, cntr) {
            var plusbtn = document.getElementById(fname +'-btn-'+ cntr);
            plusbtn.style.display = "none";
            cntr = parseInt(cntr) + 1;
            var wrapper = $("."+fname+"container");
//            e.preventDefault();
            $(wrapper).append('<div>' +
                '<input type="text" name="'+ fname +'-'+ cntr +'" class="form-control">' +
                '<button type="button" class="btn btn-default btn-sm add_form_field" id="'+ fname +'-btn-'+ cntr +'" style="float: right;" onclick=addFormField("'+fname+'",'+ cntr +')>' +
                '<span class="glyphicon glyphicon-plus-sign"></span>' +
                '</button>' +
                '</div>' +
                '<input type="file" name="'+ fname +'-file-'+ cntr +'" id="'+ fname +'-file-'+ cntr +'" class="fileinput" onchange=addFileName("'+fname+'",'+ cntr +') multiple>' +
                '<div class="'+fname+'-filenames-'+ cntr +'">' +
                '</div>'); //add input box
        }


        function addFileName(fname, cntr) {
            var files = document.getElementById(fname +'-file-'+ cntr).files;
            var wrapper = $("."+fname+"-filenames-"+cntr);
            $(wrapper).empty();
            if(files.length > 1){
                for(var i=0;i<files.length;i++){
                    $(wrapper).append('<p>' + files[i].name + '</p>')
                }

            }
        }

        document.addEventListener("DOMContentLoaded", function(event) {

            const textareas = document.querySelectorAll("textarea");
            textareas[0].rows = 5;
            textareas.forEach((area) => {
                area.className = "form-control";
            })


            const stars = document.querySelectorAll("strong");
            stars.forEach((star) => {
                if(star.outerText == "*"){
                    star.style.color = "#008cba"
                }
            })

            const chk_othertext = (fname, ro, ot) => {
                if(ro.checked && ot.value === ""){
                    ot.value = sessionStorage[fname+'text'];
                }else{
                    sessionStorage.removeItem(fname+'text')
                }
            }

            const tob_name = 'type_of_business-other';
            const nob_name = 'nature_of_business-other';
            const tob_ot = document.querySelector('#type_of_business-othertext');
            const tob_ro = document.querySelector('#type_of_business-other');
            tob_ot.addEventListener('change', (e) => ot_chg(e))
            const nob_ot = document.querySelector('#nature_of_business-othertext');
            const nob_ro = document.querySelector('#nature_of_business-other');
            nob_ot.addEventListener('change', (e) => ot_chg(e))


            const ot_chg = (e) => sessionStorage.setItem(e.target.id, e.target.value)

            chk_othertext(tob_name, tob_ro, tob_ot)
            chk_othertext(nob_name, nob_ro, nob_ot)
          //do work
        });
//        const multiplyES6 = (x, y) => { return x * y };
//        console.log(multiplyES6(5,6));
//        )

//        $(wrapper).on("click",".delete", function(e){
//            e.preventDefault(); $(this).parent('div').remove();
//        })

//        $("#skillset-Database").click(function() {
//            if(document.getElementById("skillset-Database").checked){
//                alert("asd")
//            }
//        }
    </script>
    <style>
        .inputfile{
                /*width: 230px;*/
        }
        ul{
            list-style-type: none;
            padding-left: 0px;
        }
    </style>
{% endblock %}

